@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./style.css');
/* @import 'codemirror/lib/codemirror.css'; */
/* @import 'codemirror/theme/dracula.css'; */
/* @import 'codemirror/theme/3024-day.css'; */
/* @import './Codemirror.css'; */
/* @import 'codemirror/theme/monokai.css'; */
/* @import 'codemirr' */

.menuSectionHeader {
  text-transform: uppercase;
  font-weight: bold;
  @apply dark:text-orange-400  text-cyan-700 text-[1.3rem];
  cursor: pointer;
}


@layer base {

  body {
    @apply dark:text-stone-300 text-neutral-700 dark:bg-dark-bg-color dark:bg-dark-bg-image bg-light-bg-color bg-light-bg-image;
    box-sizing:border-box;
    /* text-shadow: 1px 1px 2px rgba(0,0,0,.4) */
  }

  #app_wrapper {
    @apply flex flex-row max-w-screen-2xl mr-auto ml-auto px-12 2xl:px-0
  }
  #sidebar_wrapper {
   @apply hidden lg:block min-w-[240px] pt-5;
  
  }

  #content_wrapper {
    @apply mt-3 w-full;
  }

  #theme-toggler {
    position: absolute;
    right: 50px;
  }

  
}

@layer base {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }
}

.table-bordered-rows {
  padding: 10px;
}
.table-bordered-rows  thead {
  @apply bg-slate-800 py-4
}

.table-bordered-rows  thead th {
  @apply p-4 text-zinc-200;
}

.table-bordered-rows  tbody {
  @apply px-4
}
.table-bordered-rows  tbody tr {
  @apply bg-gray-700 border-gray-500 border-solid border-b-2 px-4 py-4;
}

.table-bordered-rows  tbody tr:last-child {
  @apply border-none;
}

.table-bordered-rows  tbody tr:nth-child(odd) {
  @apply bg-gray-600 
  
}


.table-bordered-rows  tbody tr td {@apply py-2 px-3 text-zinc-200}

.badge {
  @apply shadow-sm rounded-full w-min px-2 py-1 text-gray-200 text-[14px] m-auto;
}

.badge.success{@apply bg-green-700}
.badge.danger{@apply bg-red-700}


.form-control{

  @apply flex flex-col  mx-3

}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #121212;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 9px #000;
  background: #4a4a4a url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #a8a8a8;
  box-shadow: 0 0 5px #4a4a4a inset;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
  background: #e7e2c7 url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 0.75;
  transition: opacity 200ms;
}
/* .my-node-exit {
  opacity: 1;
} */
.my-node-exit-active {
  opacity: 0;
  transition: opacity 1200ms;
}

.scale-out-vertical {
	-webkit-animation: scale-out-vertical 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
	        animation: scale-out-vertical 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
}

.scale-in-ver-center {
	-webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation scale-out-vertical
 * ----------------------------------------
 */
 @-webkit-keyframes scale-out-vertical {
	0% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleY(0);
			  transform: scaleY(0);
	  opacity: 1;
	}
  }
  @keyframes scale-out-vertical {
	0% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleY(0);
			  transform: scaleY(0);
	  opacity: 1;
	}
  }
  
  /**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-center {
	0% {
	  -webkit-transform: scaleY(0);
			  transform: scaleY(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  opacity: 1;
	}
  }
  @keyframes scale-in-ver-center {
	0% {
	  -webkit-transform: scaleY(0);
			  transform: scaleY(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  opacity: 1;
	}
  }